html {
    width:100%;
    height:100%;
    margin:0px;
    padding:0px;
    border:0px;
    /*position:absolute; */
    /*bottom:0px;*/
    /*overflow:hidden;*/
}body{
    width:100%;
    height:100%;
    margin:0px;
    padding:0px;
    border:0px;
    position:absolute; 
    bottom:0px;
}#main,#graph, #editor, #graphrow,#objectEditor,#graphShower
{
    height:100%;
    width:100%;
    
}
#main{
    width:100%;
    /*height:100%;*/
    margin:0px;
    padding:0px;
    border:0px;
    position:absolute; 
    bottom:0px;
}#graph{
    width:100%;
    margin:0px;
    padding:0px;
    border:0px;
    top:100px;
    /*height:85%;*/
    position:absolute;
    overflow:scroll;
    
}#editor{
    width:100%;
    height:100px;
    border:0px;
    position:absolute; 
    /*bottom:0px;*/

}#graphRow{
    width:100%;
    margin:0px;
    bottom:200px;
}
#objectEditor{
    width:300px;
    height:100%;
    padding:8px;

}
#graphShower{
    padding:0px;
    border:0px;
    box-shadow: inset 0 0 .3em black;

}
#menu{
    position: absolute;
    top:100px;
    right:0px;
    /*width:100px;
    height:40px;*/
    text-align: right;
    font-size:1em;
    height:100%;
    z-index:100000;

}
#graphMenuDiv{
    position: absolute;
    top:0px;
    right:0px;
    /*width:100px;
    height:40px;*/
    text-align: right;
    font-size:1em;
    height:100%;
    z-index:100000;
    

}#graphMenuButton{
    margin-right:8px;
}#graphMenu{
    
    height:100%;
    background-color: black;
    color:white;
    opacity: 1;
}.menuItem{
    padding-right:10px;
    padding-left:10px;
    padding-top:3px;
}
#commandTextarea{
    width: 100%;
    height:100%;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    border:none;
    background-color: #4A4A4A;
    color:white;
    resize:none;
    
}#currentName{
    position:absolute;
    top:0px;
    left:300px;
    background-color:black;
    padding:10px;
    color:white;
    font-weight: bold;
    font-variant: small-caps;
}
input{
    height:25px;
}
i{
    font-size: 2em;
}.fi-arrows-out{
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);

}